<div class="navbar">
    <link href="style.css" rel="stylesheet" type="text/css">
    <ul class="nav">
        <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="/articles/1" class="nav-link">Highlighted Episode</a></li>
        <li class="nav-item"><a href="/bios/test-bio" class="nav-link">Test Character Bio</a></li>
        <li class="nav-item"><a href="/bios/melody" class="nav-link">Melody</a></li>
        <li class="nav-item"><a href="/bios/jax" class="nav-link">Jax</a></li>
    </ul>
</div>