/*
Custom colors coming from colorhunt.co
https://colorhunt.co/palette/207323?fbclid=IwAR111qMtWd2XWZKZWznuQ7_V6q2tXayCkicGlV1PfPcfj7Mu8pLr2thHN5U
*/

body {
  background-color: #2ec1ac;
}

.main {
  max-width: 1000px;
  margin: 3rem auto;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  background-color: #d2e603;
  width: 100%;
}

.card {
  background-color: #3e978b;
}

a {
  color: #eff48e;
}
