body {
    background-color: green;
}

.main {
    max-width: 600px;
    margin: 3rem auto;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: gold;
    width: 100%;
}