<div>
    <h2>Third article no one will read</h2>
    <h3>08/26/2020</h3>
    <p>Ivy is pretty and all the other boring stuff they will write about in this blog post.</p>
    <span id="post-number" style="display: none;">3</span>
</div>