<div>
    <h2>Ember Hugo</h2>
    <p>You never really know what is going to come out of Ember Hugo’s mouth. She is loud, bold, and
        uniquely skilled. She is not afraid to do what needs to get done...which with her could be
        just about anything. No one knows where she came from, only that she is CLEARLY a pirate.
        She carries two pistols on her hips, along with an old looking cutlass. Her body looks like
        someone who has worked on the water for years, very toned and lean, but she still looks like
        she could barely handle a barrel of rum. Her skin is tanned from being in the sun, and there
        is a recklessness about her that can only be kin to the sea. She raves about being on the
        open water, talks about her time on The Throne and is blatantly open about the fact that she
        is a deserter. She wears long boots that go up to her mid-shin over top of a pair of black
        and gray striped pants. She wears her corset over a ruffled white sleeveless shirt, and
        proudly displays a serpent's tattoo that wraps up her left arm, with its devilish face
        resting on her shoulder. Despite this pirate like appearance, there seems to be more about
        her than meets the eye. </p>
    <p>For a swashbuckler, she plays the violin like she is playing in a concert hall full of
        nobility. Her pieces of music are sophisticated and gentle on the ear, nothing like the sea
        shanties most fiddlers play. She speaks with eloquence, and though a curse word slips
        through her lips here and there, she is beyond charming. When listening to her speak, play
        or sometimes even sing...you can’t help but feel enamoured.</p>
    <p>You see, Ember, among her unique and strange arrangement of talents, is a bard. It's clear
        she is trained, though you don’t know where. She has a knack for wrapping people around her
        littlest finger with a simple song, and wracking a body with pain at the shriek of her
        violin. When she casts her magic, it is almost always through her instrument. Her old,
        water-logged violin is an extension of herself, and she is never seen without it.</p>
    <p>She is an odd one, that Ember. She stands at about 5’4 feet tall, and though she is the
        shortest in the party, she is not afraid to be the loudest or most brash. Her eyes are a
        dark stormy blue/gray, mimicking an angry sea. Despite her hair, she seems like a normal
        half-elf, but there is something so...alluring about the way the sun catches on the silver
        streaks in her dark chocolate colored hair.</p>
    <p>You’d consider yourself lucky to catch Ember in one of her quiet moments. She will stand
        alone. Eyes closed. Fingertips calloused from playing the strings to long. Her music, her
        soul, echoing out through the morning, bearing itself to the world's ear.</p>
    <p>She will be too lost in her music to notice you are there, until the smallest twig snaps.</p>
</div>