<div>
    <h2>Jax</h2>
    <p>He wears fine maroon leather pants, a silky red vest embroidered with gold designs and bears the 
        crest of the Goddess Genoa. At 5’10, this well dressed thinish but well built half elf with brown 
        hair goes by Jax. With a brown curly beard, a stunning smile and dark brown eyes, he can talk his 
        way out of a fight instead of clashing with the strongest of men.</p>

        <p>Any conversation with him  that is longer than five minutes will instantly reveal that Jax is not 
        completely there in the head. During his first encounter with Ember the two killed some monsters 
        and Jax’s response to the situation was not very sane. He severed the head of one of the monsters 
        and began using it as a puppet. Clearly this is not the attitude someone averse to killing would 
        have. In fact, during this fight, Jax revealed some competency with the rapier he keeps at his 
        side, alongside some seemingly innate magic.</p>

        <p>Jax is clearly after something gander and greater. His unlikely new friends will have to learn 
        how to trust him despite some odd connections to a dwarfish kingdom to the north and about a kingdom 
        on a boat that sank ten years ago.</p>

        <p>However, there is an unnerving obsession with the ocean, and the throwing of bodies in the cold 
        water.</p>

        <p>Appearances can be deceptive</p>
</div>