<div>
    <h2>Lily Daemoria</h2>
    <p>Born and raised in a small town of Teira, on the continent of Pinnah, Lilly Daemoria, short for 
    Lilith, is the daughter of two university professors. She grew up with her identical twin sister 
    Evelyn and lived a happy childhood.</p>
    <p>Sensitive to the sun, she wears a large black rimmed hat, a basic long sleeved black dress and 
    black thin pants underneath. When her face is not buried in her spellbook, she has dark green eyes, 
    and fair colored skin. Without her hat, she has dyed black shoulder length hair, and a bright smile. 
    She only stands at 5’9.</p>
    <p>After almost 100 years of schooling she was deemed an “adult” in accordance with the high elvish 
    culture when she began the next journey of her life by leaving home to attend university at The Hill 
    at the capital city. A prestigious university where she studied to become an Illusion Wizard. 
    Focusing on her work she remained relatively shy and quiet.Boys and parties were the last things on 
    her mind, but her love of fashion and lip gloss remains.</p>
    <p>Her time at university was cut short after she felt her studies were not challenging enough for her. 
    This allowed a cult to manipulate her with the promise of learning something more challenging that 
    peaked her interest; Necromancy.</p>
    <p>A college student by day, and a blossoming master of the undead at night, Lilly felt like she was 
    actually learning something she enjoyed.</p>
    <p>After learning the true atrocities of the cult she decided to escape. Unfortunately the cult 
    kidnapped her sister shortly after. This inspired Lily’s next goal to be taking down the cult and 
    saving her sister.</p>
    <p>Instead of embarking on this mission alone, Lilly remains a part of this group of unlikely friends 
    she unexpectedly got stuck with. Crawling out of her shell bit by bit, she is learning things about 
    herself she didn't know before and learning how to harness her taboo power of the undead by using the 
    blood of humans and animals to harness her power.</p>
</div>